/**
* @name XyhloBD
* @version 1.0
* @description  Red XyhloBD theme with less cluter as possible
* @author Xyhlo
*/
@import url("https://monstrousdev.github.io/themes/phoenix-bundle/tranquil.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand');
@import url('https://codedotspectra.github.io/themes/core/custom-font.css');
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url("https://v-briese.github.io/channel-icons/channelicons.theme.css");
@import url('https://lolpowerluke.github.io/discordtheme/separators.css');
:root {
--roundness: 50px;
--main-color: rgba(231, 0, 0, 0.575);
--hover-color: rgb(141, 21, 21);
--home-color: #00ff6200;
--shadow: #00000066;
--customFont: 'Quicksand';
--settingsiconssize: 18px;
--settingsiconsgap: 14px;
--dmh-columns: 3;
--user-buttons-spacing: 2px;
--back-user-buttons: #770e0e;
--quaternary-color: #1e1e2100;
--primary-color: var(--quaternary-color);
  /*unread pill*/
  --unread-pill: rgb(255, 0, 0);
  --unread-pill-shadow: rgb(255, 255, 255);
  }

.childWrapper-anI2G9:not(.acronym-2mOFsV):before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(https://cdn.discordapp.com/attachments/858070172375711814/858074076995911680/b52e31ad39686a3d5727ae215241b679.gif) center/100% no-repeat;
  }
  .homeIcon-FuNwkv {
    display: none;
  }
  
/*Remove Stage Discovery Tab*/
#private-channels [href="/discovery"] {display: none}

/*Remove Library Tab*/
#private-channels [href="/library"] {display: none}

/*Remove Nitro Tab*/
#private-channels [href="/store"] {display: none}
/*FriendsList Searchbar remove*/
.searchBarComponent-32dTOx {
    display: none;
}
/*Remove gift nitro and stickers button*/
.button-38aScr[aria-label="Send a gift"] {
    display:none;
    }
    .button-38aScr[aria-label="Open sticker picker"] {
    display:none;
    }
/*my watermark*/
.titleBar-AC4pGV::after {
    content: "XyhloBD";
    color: rgb(255, 0, 0);
    position: absolute;
    font-weight: 800 !important;
    left: 50%;
    height: 5px;
    top: 20px;
}
/* Change ping badge color */
.numberBadge-2s8kKX {background-color: #ff0000 !important}

[aria-label="Inbox"],
[href="https://support.discord.com"] {
  display: none;
}
/* Hide unread bar ontop of the server */
.unreadMentionsIndicatorBottom-2mDYbI, .unreadMentionsIndicatorTop-2-tcdU { display: none; }
/*Makes switches be buttons*/
#app-mount .container-3auIfb, #app-mount .bd-switch-body {
    width: 20px;
    height: 20px;
    background: transparent !important;
  }
  #app-mount .container-3auIfb .slider-TkfMQL, #app-mount .bd-switch-body .bd-switch-slider {
    left: -6px !important;
  }
  #app-mount .container-3auIfb .slider-TkfMQL > rect, #app-mount .bd-switch-body .bd-switch-slider rect {
    height: 20px !important;
    width: 20px !important;
    x: 4px !important;
    y: 0px !important;
    rx: 5;
    fill: var(--background-tertiary);
  }
  /*Everything Offline*/
/*Offline Revamp*/
.tipTitle-GL9qAt{content:"";font-size: 0px;}
.tipTitle-GL9qAt::before{content:"Hey...";font-size: 12px;}
.tip-2cgoli{content:"";font-size: 0px;}
.tip-2cgoli::before{content: "You're Offline :c";font-size: 16px;}
.problems-3mgf6w.slideIn-sCvzGz{display:none;}
.container-16j22k.fixClipping-3qAKRb{background:rgba(0, 0, 0, 0.1);backdrop-filter: blur(5px);}

.setIdentityLink-1t8Ahd {display: none}

.userPopout-3XzG_A {
    --background-floating: var(--background-tertiary);
}

.headerTop-2y3V6H {
    border-bottom: none;
}

.body-3iLsc4,
.footer-1fjuF6 {
    background-color: var(--background-secondary-alt);
}

.activity-fViXj7 {
    border-top: 1px solid var(--background-modifier-accent);
    padding: 16px;
}

.input-2_SIlA {
    background-color: var(--deprecated-text-input-bg);
    border: 1px solid var(--deprecated-text-input-border);
}
/*settings lag remove*/
.layer-3QrUeG {
    transform: none !important;
    opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}

.animating-rRxada.stop-animations {
    z-index: 100 !important;
}
.tutorialContainer-30WoTp+div {display:none}

.sidebar-2K8pFh{
    width: 0px;
    transition: 0.6s ease;
    position: fixed;
    height: calc(100% - 47.988px);
    z-index: 1;
    bottom: 0px;
  }
  .wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
    width:240px;
  }
  .sidebar-2K8pFh:hover{
    width:240px;
  }


.channel-2QD9_O[href="/channels/@me"],
.channel-2QD9_O[href="/library"],
.channel-2QD9_O[href="/store"] {
    display: inline-flex;
    width: calc(100% / var(--columns) - 8px);
    margin-left: 8px;
}

.channel-2QD9_O[href="/channels/@me"] > div,
.channel-2QD9_O[href="/library"] > div,
.channel-2QD9_O[href="/store"] > div {
    flex: 1 1 auto;
    position: relative;
}

.channel-2QD9_O[href="/channels/@me"] .content-3QAtGj,
.channel-2QD9_O[href="/library"] .content-3QAtGj,
.channel-2QD9_O[href="/store"] .content-3QAtGj {
    display: none;
}

.channel-2QD9_O[href="/channels/@me"] .avatar-3uk_u9,
.channel-2QD9_O[href="/library"] .avatar-3uk_u9,
.channel-2QD9_O[href="/store"] .avatar-3uk_u9 {
    margin: 0 auto;
}

.channel-2QD9_O[href="/channels/@me"] .children-gzQq2t,
.channel-2QD9_O[href="/library"] .children-gzQq2t,
.channel-2QD9_O[href="/store"] .children-gzQq2t {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 4px;
    top: 0;
    right: 0;
}

.channel-2QD9_O .downloadProgressCircle-3_wgim {
    width: 100%;
    margin: 0;
}



#status-picker {
    margin-bottom: 5px;
}

#status-picker > div {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.statusItem-33LqPf {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.statusItem-33LqPf > svg {
    width: 16px;
    height: auto;
}

#status-picker .item-1tOPte {
    margin: 0;
    width: 25%;
}

#status-picker .status-1fhblQ,
#status-picker .description-2L932D,
#status-picker .separator-2I32lJ:nth-child(2) {
    display: none;
}

#status-picker .separator-2I32lJ,
#status-picker #status-picker-custom-status {
    display: block;
    width: 100%;
}

#status-picker-custom-status .status-1fhblQ {
    display: block;
    margin-left: 6px;
}
[title^="https://discord.com/channels/"] {
    line-height:0;
    font-size:0;
}
[title^="https://discord.com/channels/"]::before {
    content:'Jump to Message';
    font-size:16px;
    font-weight:700;
}



.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb { width: 27px; transition: 0.25s; background-color: transparent;}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb { width: 240px; background-color: var(--background-tertiary);}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN { transform: scale(1.3); transition: 0.25s;}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN { transform: scale(1);}
.icon-3cZ1F_ { color: var(--text-normal)}

.menu-3sdvDG {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}

@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

::selection {
    background-color: red;
}

.chatContent-a9vAAp { /*Chat pannel and message box*/
    position: absolute;
    width: 97%;
    height: 100%;
}
.membersWrap-2h-GB4 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    transform: translateX(80%);
    justify-content: unset;
    transition: transform 0.25s ease-in;
}
.member-3-YXUe { /*Moves server members for aesthetic purposes*/
    margin-left: 2px;
    margin-bottom: 3px;
}
/*Shows the server members list*/
.membersWrap-2h-GB4:hover { /*Shows server's members*/
    transform: translateX(0%);
    z-index: 100;
}
.searchResultsWrap-3-pOjs { /*Moves search results back to the right*/
    position: relative;
    right: -74%;
}
.avatarHintInner-1TvA8u {
    border-radius: 50% !important;
    }

    .jumpToPresentBar-G1R9s6 {
        background-color: rgba(255, 0, 0, 0.541);
        opacity: 1 !important;
    }

    .panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 72px;
        z-index: 4;
        padding: 20px 0 10px 0;
        flex-direction: column;
        background: linear-gradient(transparent, var(--back-user-buttons) 15%);
    }
    .panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
        margin: var(--user-buttons-spacing) auto 0 auto;
    }
    .guilds-1SWlCJ {
        z-index: 1;
    }
          .panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ:hover {
        background-color: #8a1010 !important;
    }
    .userPopout-xaxa6l {
        background-color: #1E1E21 !important;
    }
    .sidebarRegion-VFTUkN {
        background-color: #1E1E21;
    }
    .circleIconButton-1QV--U {
        box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2) inset, 0 2px 1px rgba(255, 255, 255, 0.2) inset !important;
    }
    .sidebar-2K8pFh {
        background-color: #1E1E21;
        z-index: 19;
    }
    .scroller-1JbKMe {
        background-color: #1E1E21!important;
    }
    .searchBar-6Kv8R2 {
        display:none;
    }
    .membersWrap-2h-GB4 {
        background-color: #1E1E21!important;
    }
    /* Compact Expanded Popouts - Leeprky#2063# */
:root{--premium-size:480px;--premium-opacity:.25;--premium-blur:blur(2.6px)} /* 50px For Banner | 400 For Full */
.theme-dark .root-1gCeng .body-r6_QPy,.topSection-y3p-_D .tabBarContainer-37hZsr .tabBar-3nvOPa,.tabBarItem-3dfX8P{display:table;margin-bottom:15px;font-size:16px;margin-left:8px}
.theme-dark .root-1gCeng .tabBarContainer-37hZsr{top: 100px; position: relative;}
.nameTag-ECvD8P{top:80px;left:20px}
.top-28JiJ- .item-PXvHYJ,.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active{border-bottom-color:transparent;border-bottom:transparent;margin-bottom:20px;top:-50px}
.body-r6_QPy{position:absolute;background-color:transparent;left:190px;top:30px;height:350px;width:400px}
.profileBannerPremium-35utuo{height:475px;top:0;height:var(--premium-size);background-position:center;background-size:cover;opacity:var(--premium-opacity);position:absolute;filter:var(--premium-blur)}
.profileBanner-33-uE1, .customStatusText-2opeSw,.actionButton-3vN-m0,.badgeList-1R1WgZ,.banner-2QYc2d:hover .premiumIconWrapper-1A-UH5{display:none}
.actionsProfile-jEtjVX{position:absolute;margin-top:150px;margin-left:-0}
.userInfoSection-q_35fn+.userInfoSection-q_35fn,.tabBarContainer-37hZsr{border: none;}
.userProfileActivity-Bnt1p_{width:360px;margin-bottom:30px}
.note-367eZJ textarea{margin-bottom:5px}
.relationshipButtons-pUQVkf{bottom:12px!important;left:-35px;transform:scale(1.2);position:relative}
.avatar-AvHqJA{transform:scale(0.8);left:20px;margin-top:20px}
.avatar-AvHqJA.wrapper-3t9DeA,.body-r6_QPy,.topSection-y3p-_D{background-color:transparent;border:var(--glasscord-background)}
.topSection-y3p-_D{height:475px}
.body-r6_QPy,.topSection-y3p-_D{min-height:400px}
.theme-dark .root-1gCeng{background-color:var(--background-floating)!important; border-radius: 16px !important;}
:root{--user-modal-avatar-size:230px; --blur-the-things: 0px}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj{padding-left:45px;margin-bottom:20px!important; margin-top: 10px;}
.root-3QyAh1 .body-r6_QPy .listScroller-3GmIYj .listRow-1iDGel{display:inline-table; align-content: center; justify-content: center; text-align: center;}
.root-3QyAh1 .listScroller-3GmIYj .mask-1l8v16.svg-2V3M55,.listRow-1iDGel .listAvatar-1BbvHX.wrapper-3t9DeA{filter:blur(var(--blur-the-things));width:calc(var(--user-modal-avatar-size) * 1/3)!important;height:calc(var(--user-modal-avatar-size) * 1/3)!important}
.root-3QyAh1 .listScroller-3GmIYj .listRow-1iDGel .iconSizeMedium-2OqPjI{filter:blur(var(--blur-the-things));width:calc(var(--user-modal-avatar-size) * 1/3)!important;height:calc(var(--user-modal-avatar-size) * 1/3)!important}
.root-3QyAh1 .listScroller-3GmIYj .listName-U3shDM,.root-3QyAh1 .listScroller-3GmIYj .listRowContent-i8Bizk{margin-top:2px;display:none}
.listRow-1iDGel:hover{background-color:transparent}

/*Avatar animation*/
.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
    animation: rotate .5s;
  }
  @keyframes rotate {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .scroller-3BxosC {
    background-color: #1E1E21;
}
.autocompleteInner-2mQ2AK {
    background-color: #1E1E21;
}
/*Rainbow wave mentions*/
html .mention.wrapper-3WhCwL.mention.interactive{
    background-image: linear-gradient(to right,rgb(255, 0, 0), rgb(255, 255, 255), rgb(255, 0, 0), rgb(255, 255, 255), rgb(255, 0, 0), rgb(255, 255, 255));
    animation: gradient-border 4s infinite  linear;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}
@keyframes gradient-border {
from {
  background-position: 0 0;
}
to {
  background-position: 130% 0;
}
}
.expandedFolderBackground-1cujaW {
    display:none;
}

.listItemWrapper-KhRmzM {
    background-color: #1E1E21;
}
.tutorialContainer-2sGCg9 {
    background-color: #1E1E21;
}
.guilds-1SWlCJ {
    background-color: #1E1E21
}
.scroller-1Bvpku {
    background-color: #1E1E21
}
.tutorialContainer-2sGCg9>.listItem-GuPuDH {
    background-color: #1E1E21;
}

.contentColumn-2hrIYH {
    background-color: #1E1E21;
}
.contentRegionScroller-26nc1e {
    background-color: #1E1E21 !important
}
#private-channels > [class*="content-"] {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) {
    flex-grow: 1;
    margin-top: 8px !important; 
    margin-left: 0;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]):first-of-type {
    margin-left: 8px !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="layout-"] {
    justify-content: center;
    padding: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="avatar-"] {
    margin: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="content-"] {
    display: none;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="children-"] {
    position: absolute;
    transform: translate(4px, 8px);
    box-shadow: 0 0 0 3px var(--background-secondary);
    border-radius: 100px;
}
#private-channels > [class*="content-"] > h2 {
    width: 100%;
}
#private-channels > [class*="content-"] > a[href*="/channels/@me/"] {
    width: 100%;
}